<h1>Archived Lists</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">List Name</th>
      <th scope="col">Delete</th>
      <th scope="col">Unarchive</th>
    </tr>
  </thead>
  <tbody>
    <% @arcLists.each do |al| %>
      <tr>
        <td> <%= al.name %> </td>
        <td> <%= button_to "Destroy this list", al, method: :delete, class: "btn btn-danger" %> </td>
        <td> <%= link_to "Unarchive this list", lists_archive_path(id: al.id), class: "btn btn-warning" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "Back to lists", lists_path, class: "btn btn-primary" %>

