<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Description: </strong>
    <%= group.description %>
  </p>

  <p>
    <strong>Users:</strong>
    <ul class="fixList">
      <% group.users.each do |gu| %> 
        <li> <%= gu.name %> </li>
      <% end %>
    </ul>
  </p>

</div>
