<div class="text-center">
  <p style="color: green"><%= notice %></p>

  <h1 class="text-center heading">Groups</h1>
  <hr>
  <div id="groups">
    <% @groups.each do |group| %>
      <%= render group %>
      <p>
        <%= link_to "Show this group", group, class: "btn btn-primary mb-3" %>
      </p>
    <% end %>
  </div>

  <%= link_to "New group", new_group_path, class: "btn btn-success my-4" %>
</div>