<h1 class="text-center">Add to Group</h1>
<h3 class="text-center">Group: <%= @group.name %> </h3>



<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <% if u != current_user %>
        <tr>
          <td> <%= u.name %> </td>
          <td>
           <%= link_to "Manage user", groups_manage_group_users_path(id: u.id, gid: @group.id), class: "btn btn-info" %> 
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<%= link_to "Back to group", group_path(id: @group.id), class: "btn btn-primary" %>