body {
  background-color: rgb(69, 69, 63);
  color: white;
}

.table {
  color: white;
}

#theUser, a {
  color: white;
}

#theUser, a:hover {
  color: white;
  text-decoration: underline;
}

.list-name {
  float: inline-start;
  font-size: x-large;
  color: yellow;
}

.pastDue a {
  color: red;
}

.almostPastDue {
  color: yellow;
}

.sidebar {
  border: 3px solid white;
  background-color:rgb(40, 40, 40); /* rgb(90,90,90); */
}

.fixList {
  list-style-position: inside;
}

.pLevel4 {

}

.pLevel3 {

}

.pLevel2 {

}

.pLevel1 {
  
}