body {
  background-color: rgb(69, 69, 63);
  color: white;
}

.table {
  color: white;
}

#theUser, a {
  color: white;
}

#theUser, a:hover {
  color: white;
}

.list-name {
  float: inline-start;
  font-size: x-large;
  color: yellow;
}

.pastDue a {
  color: rgb(255, 115, 21);
}

.almostPastDue {
  color: yellow;
}

.sidebar {
  border: 3px solid white;
  background-color:rgb(40, 40, 40); /* rgb(90,90,90); */
}

.fixList {
  list-style-position: inside;
}

.pLevel5 {
  background-color: grey;
  color: black;
}

.pLevel4 {
  background-color: aqua;
  color: black;
}

.pLevel3 {
  background-color: chartreuse;
  color: black;
}

.pLevel2 {
  background-color: orange;
  color: black;
}

.pLevel1 {
  background-color: red;
  color: black;
}

.prLevel5 a {
  color: grey;
}

.prLevel4 a {
  color: aqua;
}

.prLevel3 a {
  color: chartreuse;
}

.prLevel2 a {
  color: orange;
}

.prLevel1 a {
  color: red;
}

.heading {
  font-family: "Lucida Console", "Courier New", monospace;
}